<%= bar_chart @org_tickets %>
<%= line_chart @tickets.group_by_month(:criado_em, format: "%b").count %>

<div class="container">
  <table class="table table-striped table-responsive rounded border border-3">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Criado em</th>
        <th>Cliente</th>
        <th>Prioridade</th>
        <th>Status</th>
        <th>Fila</th>
        <th>Atribuído</th>
      </tr>
    </thead>
  <tbody>
    <% @tickets.uniq.each do |ticket| %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= ticket.criado_em %></td>
          <td><%= ticket.organization&.nome || ticket.tipo_cliente %></td>
          <td><%= ticket.prioridade %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.group&.nome %></td>
          <td><%= ticket.usuario_atribuido&.nome %></td>
        </tr>
    <% end %>
  </tbody>
  </table>
</div>
