<div class="container page">
  <h1 class="page-title">Tickets</h1>
  <div class="container text-center">
    <%= form_tag(tickets_path, method: "GET") do |form| %>
      <div class="row m10">
        <h5 class="col col-lg-1 ml-less5 tkt-form-field-title">Cliente</h5>
        <h5 class="col col-sm-5"></h5>
        <h5 class="col col-sm-6 tkt-form-field-title">Data</h5>
      </div>
      <div class="row m10">
        <%= autocomplete_field_tag('search', '', autocomplete_organization_nome_tickets_path, :class => "col-4 tkt-text-field-form tkt-border-form", :data => { toggle: 'collapse'}) %>
        <%= label_tag(:started_at, "Inicio", class: 'w-auto tkt-data-form') %>
        <%= date_field_tag :started_at, '',class: "col col-lg-2 tkt-border-form tkt-form-date-field" %>
        <%= label_tag(:ended_at, "Fim", class: 'w-auto') %>
        <%= date_field_tag :ended_at, '',class: "col col-lg-2 tkt-border-form tkt-form-date-field" %>
      </div>
      <div class="row m10">
        <h5 class="col col-lg-1 ml-less5 tkt-form-field-title">Prioridade</h5>
        <h5 class="col col-sm-5"></h5>
        <h5 class="col col-sm-6 tkt-form-field-title">Squad</h5>
      </div>
      <div class="row m10">
        <%= select_tag(:prioridade, options_for_select(@prioridades.prepend('')), value: '', class: "tkt-select-form col-4 tkt-text-field-form tkt-border-form") %>
        <%= select_tag(:fila, options_for_select(@grupos.prepend('')), value: '', class: "tkt-squad-form select-form col-5 tkt-text-field-form tkt-border-form") %>
      </div>
      <div class="row m10">
        <h5 class="col col-lg-1 ml-less5 tkt-form-field-title">Status</h5>
        <h5 class="col col-sm-5"></h5>
        <h5 class="col col-sm-6 tkt-form-field-title">Categoria</h5>
      </div>
      <div class="row m10">
        <%= select_tag(:status, options_for_select(@status.prepend('')), value: '', class: "tkt-select-form col-4 tkt-text-field-form tkt-border-form") %>
        <%= select_tag(:categoria, options_for_select(@categorias.prepend('')), value: '', class: "tkt-squad-form select-form col-5 tkt-text-field-form tkt-border-form") %>
      </div>
    <div class="row tkt-btn-row">
      <%= submit_tag('Busca', class: "btn btn-dark col col-lg-2 tkt-form-btn")%>
    <% end %>
    </div>
  </div>
  <%= link_to "Exportar csv", tickets_path(format: 'csv'), class: "btn btn-light" %>
  <table class="tkt-table table table-hover">
    <thead class="thead-light tkt-table-head">
      <tr class= "tkt-table-row">
        <th>ID</th>
        <%= sortable_table_header 'Criado em', :criado_em, :tickets_path, class: 'th-criado_em' %>
        <th>Cliente</th>
        <th>Categoria</th>
        <th>Prioridade</th> 
        <th>Status</th>
        <th>Fila</th>
        <th>Atribuído</th>
      </tr>
    </thead>
    <tbody>
      <% if @tickets == nil %>
        <tr>
        </tr>
      <% else %>
      <% @tickets.each do |ticket| %>
          <tr class= "tkt-table-row">
            <td><%= link_to ticket.id, "https://luizalabs9937.zendesk.com/agent/tickets/#{ticket.id}", :target => "_blank", :class => "tkt-table-a"%></td>
            <td><%= ticket.criado_em.strftime('%d/%m/%y') %></td>
            <td><%= (ticket.tipo_cliente if ticket.organization&.nome == "Generic org") || ticket.organization&.nome || ticket.tipo_cliente %></td>
            <td><%= ticket.categoria %></td>
            <td><%= ticket.prioridade || 'Sem prioridade atribuída' %></td>
            <td><div <%= row_classname(ticket.status) %>><%= ticket.status %></div></td>
            <td><%= ticket.group&.nome %></td>
            <td><%= "#{(ticket.usuario_atribuido&.nome.split(' ').first + ' ' + ticket.usuario_atribuido&.nome.split(' ').last) if ticket.usuario_atribuido&.nome}" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="row justify-content-center">
  <% if @tickets != nil %>
    <div class="col-4 txt-align-c m10" >
    <%= link_to_prev_page @tickets, 'Página anterior', class: "btn-dark btn m1 m10" %>
    </div>
    <div class="col-4 txt-align-c m10">
    <%= link_to_next_page @tickets, 'Pŕoxima página', class: "m1 btn btn-dark m10" %>
    </div>
  <% end %>
  </div>
</div>