<!DOCTYPE html>
<html>
  <head>
    <title>ZenData</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar sticky-top bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">Zendata</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/tickets">Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboards">Dashboards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/automacoes">Automações</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <% if notice %>
    <p class="alert alert-success slide-out-bck-center"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger slide-out-bck-center"><%= alert %></p>
  <% end %>

  <style type="text/css">
    .alert-success{
      color: green;
    }
    .alert-danger{
      color: red;
    }
  </style>
  <body>
    <%= yield %>
  </body>
  
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <small>Copyright &copy; Zendata</small>
  </footer>
  
</html>

